# Open AI
OPENAI_API_KEY=XXX
DEFAULT_MODEL="gpt-5-nano-2025-08-07"

OPENAI_API_KEY=XXX
DEFAULT_MODEL=openai/gpt-oss-20b
OPENAI_BASE_URL=https://api.groq.com/openai/v1

Anthropic
OPENAI_API_KEY=XXX
OPENAI_BASE_URL=https://api.anthropic.com/v1
DEFAULT_MODEL="claude-haiku-4-5"


#
#
#

# MCP Servers
MCP_CONTEXT_7=XXX